asgiref==3.9.1
attrs==26.1.0
babel==2.18.0
backrefs==7.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.0
colorama==0.4.6
cryptography==48.0.0
csscompressor==0.9.5
Django==6.0
django-appconf==1.2.0
django-cors-headers==4.9.0
django-encrypted-model-fields==0.6.5
django-filter==25.2
django-phonenumber-field==8.1.0
djangorestframework==3.16.0
drf-spectacular==0.29.0
ghp-import==2.1.0
htmlmin2==0.1.13
idna==3.15
inflection==0.5.1
isodate==0.7.2
Jinja2==3.1.6
jsmin==3.0.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lxml==6.1.1
Markdown==3.10.2
MarkupSafe==3.0.3
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.2
mkdocs-material==9.7.6
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.8.0
packaging==26.2
paginate==0.5.7
pathspec==1.1.1
phonenumbers==9.0.12
platformdirs==4.9.6
pycep-correios==5.0.0
pycparser==3.0
Pygments==2.20.0
pymdown-extensions==10.21.3
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2026.2
PyYAML==6.0.3
pyyaml_env_tag==1.1
referencing==0.37.0
requests==2.34.2
requests-file==3.0.1
requests-toolbelt==1.0.0
rpds-py==2026.5.1
six==1.17.0
sqlparse==0.5.3
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
validate_docbr==1.11.1
watchdog==6.0.0
zeep==4.3.2
