asgiref==3.9.1
Django==6.0
djangorestframework==3.16.0
validate-docbr==1.11.1
sqlparse==0.5.3
django-phonenumber-field==8.1.0
phonenumbers==9.0.12
pycep-correios==5.0.0
mkdocs==1.6.1
mkdocs-material
mkdocs-minify-plugin
pymdown-extensions
drf-spectacular